<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1> 
    <h3>{{ single_order.customer_name }}</h3>
    <h4> {{ total_orders }}</h4>
<ul>
    {% for order in order_list %}
        <li>
            <b>{{ order.order_date }}</b>: {{ order.customer_name }} <b>: {{ order.book_title }} </b>: {{ order.quantity }}
        </li>
    {% endfor %}
</body>
</html>